.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color:white;
  height: 150px;
  padding: 20px;
}

.main {
  background-color: #00ADD7;
  height: 100vh;
  width: 100%;
  display: flex;
}


